
    <section id ="about" class="about">
        <img src="assets/food-3581341_1280.jpg" alt="Sushi" id="sushi-img" />
        <div class="text">
        <h1>En plats för sushiälskare – och nyfikna</h1>
        <h2>Hos oss handlar sushi om mer än bara mat – det handlar om upplevelsen. Vi rullar varje bit med omsorg, serverar den med ett leende och bjuder in dig att upptäcka nya smaker, dofter och kombinationer. Oavsett om du är sushi-proffs eller bara nyfiken på något nytt, finns alltid något att älska här.</h2>
            <div class="cta-btns">
      <button (click)="scrollToSection('work')">Läs mer</button>
      <button (click)="openVideo()">▶ Se videon här</button>
    </div>  
        
        <!-- <div class="cta-btns">
            <Button>Lär dig mer </Button>
            <Button> Titta på Video</Button>
        </div> -->

        </div>
    </section>