* {
font-family: 'Arial', sans-serif;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.cta-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
}

.cta-btns button {
  background-color: black;
  color: white;
  border: 2px solid orange;
}

.cta-btns button:hover {
  background-color: orange;
  color: black;
}