* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.cta-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
}

.cta-btns button {
  background-color: black;
  color: white;
  border: 2px solid orange;
  padding: 0.6em 1.2em;
  border-radius: 8px;
}

.cta-btns button:hover {
  background-color: orange;
  color: black;
}